name: Build and Push Docker image from geovex/tgp

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/tgp
  VERSION_FILE: ./telegram/tgp/version.txt

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Get latest version from upstream
        id: tgp
        run: |
          version=$(curl -s https://api.github.com/repos/geovex/tgp/tags | jq -r '.[0].name' | sed 's/^v//')
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "Latest version: $version"

      - name: Read last known version
        id: last
        run: |
          if [ -f ${{ env.VERSION_FILE }} ]; then
            version=$(cat ${{ env.VERSION_FILE }})
          else
            version=""
          fi
          echo "version=$version" >> "$GITHUB_OUTPUT"
          echo "Last version: $version"

      - name: Stop if version is the same
        if: steps.last.outputs.version == steps.tgp.outputs.version
        run: |
            echo "Version is the same as last build. Exiting."
            exit 0

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          repository: geovex/tgp
          ref: "v${{ steps.tgp.outputs.version }}"

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.tgp.outputs.version }}
            ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true

      - name: Update version.txt
        run: |
          echo "${{ steps.tgp.outputs.version }}" > ${{ env.VERSION_FILE }}
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add version.txt
          git commit -m "Update Mullvad version to ${{ steps.tgp.outputs.version }}"
          git push
